* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-block: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

body {
  position: relative;
  width: 100%;
  min-height: 1409px;
  padding-bottom: 175px;
  font-family: Poppins;
  font-style: normal;
}

.main__container {
  padding-top: 71px;
}

.main__container header {
  padding-left: 12px;
}

.headline {
  margin-bottom: 38px;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}

.description {
  margin-top: 10px;
  max-width: 333px;
  min-height: 87px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 38px;
  justify-content: space-between;
}

.member__card {
  max-width: 175px;
  padding-right: 15px;
  position: relative;
}

.member__card img {
  display: block;
  max-width: 140px;
}

.job-name {
  position: absolute;
  top: 0;
  display: block;
  font-family: PT Serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;

  color: #000000;
  transform: translateX(155px) rotate(90deg);
  transform-origin: top left;
}

.fullname {
  display: inline-block;
  margin-top: 10px;
  max-width: 141px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 24px;
}

footer p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a9a9a9;
}

footer p span {
  font-weight: 700;
}

@media only screen and (max-width: 488px) {
  footer,
  .main__container {
    max-width: 375px;
    min-width: 375px;
    margin: 0 auto;
  }

  .member__card:nth-child(2n + 1) {
    margin-left: 20px;
    margin-bottom: 65px;
  }

  .member__card:nth-child(2n + 2) {
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 488px) and (max-width: 755px) {
  footer,
  .main__container {
    max-width: 488px;
    min-width: 488px;
    margin: 0 auto;
  }

  .job-name {
    transform: translateX(calc(155px * 1.25)) rotate(90deg);
  }

  .main__container header {
    padding-left: 18px;
  }

  .member__card {
    max-width: calc(175px * 1.25);
    padding-right: 22.5px;
    position: relative;
  }

  .member__card img {
    display: block;
    max-width: calc(140px * 1.25);
  }

  .member__card:nth-child(2n + 1) {
    margin-left: calc(20px * 1.25);
  }

  .member__card:nth-child(2n + 2) {
    margin-right: calc(20px * 1.25);
    margin-top: 50px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 756px) {
  body {
    padding-bottom: calc(156px * 0.7);
    min-height: 1042px;
  }

  .main__container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-top: calc(110px * 0.7);
  }

  .main__container header {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .main__container header div,
  .main__container header h1 {
    flex-grow: 1;
    min-width: 50%;
  }

  .main__container .description,
  .fullname {
    font-size: calc(18px * 0.7);
    line-height: calc(27px * 0.7);
  }

  .description {
    max-width: calc(440px * 0.7);
  }

  .members-list {
    padding-top: calc(96px * 0.7);
    padding-right: calc(35px * 0.7);
  }
  .member__card {
    max-width: calc(266px * 0.7);
    padding-right: calc(25px * 0.7);
  }

  .member__card img {
    max-width: calc(240px * 0.7);
  }

  .job-name {
    font-size: calc(12px * 0.7);
    line-height: calc(16px * 0.7);
    transform: translateX(calc(266px * 0.7)) rotate(90deg);
  }

  .fullname {
    margin-top: calc(15px * 0.7);
  }

  .member__card:nth-child(3n + 2) {
    margin-top: calc(100px * 0.7);
    margin-bottom: calc(24px * 0.7);
  }
  .member__card:nth-last-child(2) {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 980px) {
  body {
    padding-bottom: 156px;
    height: auto;
  }

  .main__container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
  }

  .main__container header {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .main__container header div,
  .main__container header h1 {
    flex-grow: 1;
    min-width: 50%;
  }

  .main__container .description,
  .fullname {
    font-size: 18px;
    line-height: 27px;
  }

  .description {
    max-width: 440px;
  }

  .members-list {
    padding-top: 96px;
    padding-right: 35px;
  }
  .member__card {
    max-width: 266px;
    padding-right: 25px;
  }

  .member__card img {
    max-width: 240px;
  }

  .job-name {
    font-size: 12px;
    line-height: 16px;
    transform: translateX(266px) rotate(90deg);
  }

  .fullname {
    margin-top: 15px;
  }

  .member__card:nth-child(3n + 2) {
    margin-top: 100px;
    margin-bottom: 24px;
  }
  .member__card:nth-last-child(2) {
    margin-bottom: 0px;
  }
}
